* {
padding: 0;
margin: 0;
text-align: center;
background-color: rgb(216, 213, 213);

}

#div1 {
    width: 70px;
    height: 20px;
  
    
}

img{
    cursor: pointer;
}

table.tableizer-table {
    font-size: 12px;
   
    font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
   
    border: 0;
}
.tableizer-table th {
    
    font-weight: bold;
    border: 0;
}

.r{
    background-color: red;
    font-weight: bold;
}

.b{
    background-color: rgb(139, 139, 226);
    font-weight: bold;
}
.y{
    background-color: rgb(248, 248, 66);
    font-weight: bold;
}

.g{
    background-color: rgb(50, 206, 50);
    font-weight: bold;
}

.w{
    background-color: white;
    font-weight: bold;
}
